@model siteNew.Models.Articles

@{
    ViewBag.Title = "Index";
}

<style>
    h1 {
        color: red;
    }
    .one {
        font-style: italic;
        font-size: 16px;
        color: blue; 
    }
</style>

<h1>@Model.Title</h1>
<p class="one">@Model.Article</p>


